body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #D8E2EB;
}

header {
	background-color: #D8E2EB;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-size: 28px;
	margin: 0;
}

img {
	max-width: 100px;
	height: 100px;
	width: 100px;
	margin-left: 20px;
}

blockquote {
	font-style: TriodPostnaja;
	font-family: Pompadur, 'TriodPostnaja', cursive;
	padding: 20px;
	background-color: #D8E2EB;
	margin: 0;
	text-align: center;
}

blockquote::before {
  content: "";
  display: block;
  height: 1px;
  /* background: url("ornament.png") center center no-repeat; */
  background-color: red;
  background-size: contain;
  margin: 20px 0;
}


blockquote::after {
  content: "";
  display: block;
  height: 1px;
  /* background: url("ornament.png") center center no-repeat; */
  background-color: red;
  background-size: contain;
  margin: 20px 0;
}

.telegram-icon {
  position: fixed;
  bottom: 20px; /* или любое другое значение, которое вам нужно */
  left: 45%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 50px; /* или любое другое значение, которое вам нужно */
  height: 50px; /* или любое другое значение, которое вам нужно */
}

/* nav */
div ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div li {
 /* border: 5px solid black;
 border-radius: 20px; */
	display: block;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-family: Pompadur, 'TriodPostnaja', cursive;
}


div a {
	display: block;
	padding: 10px;
	background-color: #8897AA;
	border-radius: 50px;
	text-decoration: none;
	color: #333;
	padding-left: 10;
	padding-right: 10;
}

div a:hover {
	background-color: #333;
	color: #fff;
}

article {
	padding: 20px;
	background-color: #f9f9f9;
	margin-top: 20px;
}

article h2 {
	font-size: 24px;
	margin: 0 0 10px 0;
}

article p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(TriodPostnaja.ttf); /* Путь к файлу со шрифтом */
   }
.blogdanik {
    font-family: Pompadur, 'TriodPostnaja', cursive;
   }

/* ниже тестим */

div li:last-child,
div li:nth-last-child(2) {
  margin-bottom: 60px;
}
